body{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.cv-container{
	margin: 20px;
}

.ct-servicio{
	height: 226px;	
	width:  1825px;
	/*background-image: url(../img/back-servicio-1.png);*/
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	border-radius:10px;
	margin-top:15px;
	margin-left: 20px;
	margin-right: 20px;
	padding: 20px 40px;
}

.ct-servicio5{
	height: 172px;
	width:  1825px;
	/*background-image: url(../img/back-servicio-1_old.png);*/
	background-position: center;
	background-size: unset;
	background-repeat: no-repeat;
	border-radius:10px;
	margin:12px;
	padding: 20px 40px;
}

.ct-servicio .ct-imagen{
	height: 160px;
	width: 160px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 10px;
	margin-left: 20px;
	margin-top: 10px;
}
.ct-servicio5 .ct-imagen5{
	height: 120px;
	width: 120px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 10px;
	margin-top: 4px;
	margin-left: 20px;
}

.cv-encabezado{
	height: 100px;
	margin: 20px;

}

.cv-servicios{
	height: 700px;  
}
.cv-servicios5{
	height: 880px;  
}
.cv-pie{
	height: 190px;
	margin-left:45px; 
	opacity: 0.5;

}
.cv-pie4{
	height: 210px;
	margin-left:40px; 
	margin-top: 20px;
	opacity: 0.5;
}
.cv-pie2{
	height: 210px;
	margin-left:40px; 
	margin-top: 270px;
	opacity: 0.5;
}
.cv-pie1{
	height: 215px;
	margin-left:40px; 
	margin-top: 500px;
	opacity: 0.5;
}
.ct-banner{
	border-radius: 20px;
	height: 185px;
	width: 1830px;
	background-color: #e2e2e2; 
	padding: 20px;
}
.ct-banner4{
	border-radius: 20px;
	height: 200px;
	width: 1840px;
	background-color: #e2e2e2; 
	padding: 20px;
}

.ct-banner div{
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.ct-banner4 div{
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.ct-encabezado{
	background-color: #e2e2e2;
	border-radius: 20px;
	text-align: left;	
	height: 100px;
	margin-right: auto;
	margin-left: auto;
	width:600px;
	opacity: 0.7;
}

.ct-encabezado div{
	border-radius: 20px;
	font-size: 50px;
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	line-height: 1.2;
}

.ct-encabezado .pading{
	border-radius: 20px;
	font-size: 50px;
	width: 100%;
	/*background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	line-height: 1.2;*/
	height: 90px;
	padding: 15px;
	font-weight: bold;
	
}
.publicidad_grande {
    width: 430px;
    height: 120px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.4);
    /*background: red;*/
    font-size: 48px;
    position: relative;
    top: 25px;
    left: 245px;
    float: left;
    background-size: 90% 90%;
    padding: 10px;
}
.ct-logo{
}

.ct-fecha, .ct-hora{
	padding: 10px 30px;
	background-color: #e2e2e2	;
	text-align: center;
	float: left;
	border-radius: 20px;
	font-size: 40px;
	opacity: 0.7;
	font-weight: bold;
}

.ct-hora{
	float: right;
}

.ct-servicio .ct-img{

}

.ct-servicio .ct-info{
	margin-top: 0px;
	width: 1020px;
}
.ct-servicio5 .ct-img5{

}

.ct-servicio5 .ct-info5{
	margin-top: -20px;
	width: 1170px;
}

.ct-info h3{
	font-size: 40px;
	text-align: center;
	
}
.ct-info div{
	font-size: 40px;
	text-align: center;
	height:90px;
	width: 1020px;
	line-height: 0.9;
}
.ct-info5 h3{
	font-size: 40px;
	text-align: center;
	margin-top: -5px;
	height:90px;
	vertical-align: middle;
	width: 1250px;
}
.ct-info5 div{
	font-size: 40px;
	text-align: center;
	margin-top: -13px;
	height:90px;
	line-height: 0.9;
	width: 1250px;

}
.test {
	display: table-cell;
}
.ct-info h5 {
	margin-top: 3px;
	text-align: center;
	margin-bottom : -15px;
	
}
.ct-info5 h5 {
	margin-top: 3px;
	text-align: center;
	margin-bottom : -15px;
	
	
}
.ct-info5 h4 {
	text-align: center;
	margin-top: 20px;
	font-size: 27px;
	
}
.ct-info5 h2 {
	text-align: center;
	margin-top: -12px;

	
}
.ct-info .row .otro h2,h5 {
	text-align: center;
	margin-top: -1px;
	
}

.ct-info .row .otro h4 {
	text-align: center;
	font-size: 27px;
	margin-top: 5px;
	
}
.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.5;
}
.ng-modal-overlay2 {
  /* A green translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:green;
  opacity: 0.5;
}
.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: absolute;
  width: 50%; /* Default */

  /* Center the dialog */
  top: 25%;
  left: 25%;
  /*transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);*/

  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}
.ng-modal-dialog-content {
  font-family:'Roboto';
  font-size:14pt;
  color: black;
  padding:10px;
  text-align: center;
}
.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}

/*-----------------------------------------------------------------
		ANIMATIONS
-------------------------------------------------------------------*/
.ng-modal-dialog.ng-hide-add, .ng-modal-dialog.ng-hide-remove {
	display:block!important;
}
.ng-modal-dialog.ng-hide-remove {
    -webkit-animation: bounceIn 1s;
    -moz-animation: bounceIn 1s;
    -ms-animation: bounceIn 1s;
    animation: bounceIn 1s;
}

.ng-modal-dialog.ng-hide-add {
    -webkit-animation: bounceOut .8s;
    -moz-animation: bounceOut .8s;
    -ms-animation: bounceOut .8s;
    animation: bounceOut .8s;
}

.ng-modal-dialog.ng-enter {
    -webkit-animation: rollIn 1s;
    -moz-animation: rollIn 1s;
    -ms-animation: rollIn 1s;
    animation: rollIn 1s;
}

.ng-modal-dialog.ng-leave {
    -webkit-animation: bounceOut .8s;
    -moz-animation: bounceOut .8s;
    -ms-animation: bounceOut .8s;
    animation: bounceOut .8s;
}
.xcard{
		display: inline-block;
		width: 1880px;
		height: 919px;
		opacity: 0.7;
		border-radius: 20px;
		/*background-color: #e2e2e2; */
		/*padding: 20px;*/
    }
 .xcard div{
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	border-radius: 20px;
}   


.carousel-indicators{
    display: none;
}
.carousel-control{
    height: 800px;
    top: -130px;
    width: 5%;
    background: none !important;
}
.carousel-control .icon-prev:before{
   font-size: 0px;
    height: 0;
    position: relative;
    color: #333;
}	
.carousel-control .icon-next:before{
    font-size: 0px;
    height: 0;
    position: relative;
    color: #333;
}
a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
    height: 0;
}
.otro{
	border-radius:10px;
	opacity: 0.7;
}
.new{
	text-align: center;
	margin-top: 0px;	
    margin-bottom: -6px;
	margin-left: -20px;
	line-height: 0.9 !important;
	height: auto !important;
	width: 261px  !important;
}
.new1{
	text-align: center;
	margin-top: 0px;	
    margin-bottom: -6px;
	margin-left: -7px;
	line-height: 0.9 !important;
	height: auto !important;
	width: 261px  !important;
}