
body{
	background-color: #fff;
	    margin: 0px;
}
html,body,#contenido{
	height: 100%;
}

.done-true {
  text-decoration: line-through;
  color: grey;
}
#dia{
    width: 12vw;
    height: 6vh;
    background-color: #e4e4e4;
    margin-left: 5%;
    margin-top: 1.5%;
    position: fixed;
    text-align: center;
    font-size: 2em;
    border-radius: 1rem!important;


}

.logo{
    width: 30vw;
    height: 12vh;
    background-color: #e4e4e4;
    margin-left: 35%;
    /* margin-top: 1vh; */
    font-size: 4em;
    text-align: center;
    border-radius: 1rem!important;

}
#hora{
    width: 12vw;
    height: 6vh;
    background-color: #e4e4e4;
    margin-left: 4%;
    margin-top: -6%;
    position: fixed;
    float: right;
    right: 5%;
    text-align: center;
    font-size: 2em;
    border-radius: 1rem!important;
}

.lista{
	width: 90vw;
    margin: 0 auto;
        margin-top: 2vh;

}

.lista #persona{
        height: 18vh;
    padding: 1vh;
    margin-bottom: 1vh;
        list-style: none;
}

.cajadatos{
	    height: 100%;
    width: 54vw;
    background-color: grey;
    float: left;
    /*border: 1px solid #000;*/
    margin-left: 2vw;
    margin-right: 1.5vw;
    border-radius: 1rem!important;
}

.sala{
    height: 15vh;
    width: 9vw;
    background-color: white;
    float: left;
    margin-top: 0.5vh;
    margin-left: 1vw;
}

.foto{
    height: 15vh;
    width: 9vw;
    background-color: white;
    float: left;
    margin-top: 0.5vh;
    margin-left: 1vw;
}

.simbolo{
    height: 15vh;
    width: 9vw;
    background-color: white;
    float: left;
    margin-top: 0.5vh;
    margin-left: 1vw;
}

#foto img,#simbolo img{
	width: 100%
}

.nombre{
	font-size: 2.5em;
    border: 1px solid black;
    text-align: center;
    height: 4vw;
    background-color: #e4e4e4;
}  

.riptag{
    border: 1px solid black;
    width: 7vw!important;
    height: 3vh;
    margin-left: 43.5%;
    text-align: center; 
    background-color: #e4e4e4;  
}  

.box1{
    /*border: 1px solid black;*/
    width: 10vw;
    height: 8vh;
    margin-left: 2vh;
    border-radius: 1rem!important;
}

.box2{
    /*border: 1px solid black;*/
    width: 10vw;
    height: 8vh;
    margin-left: 20vh;
    margin-top: -8vh;
    border-radius: 1rem!important;
}

.box3{
    /*border: 1px solid black;*/
    width: 10vw;
    height: 8vh;
    margin-left: 50vh;
    margin-top: -8vh;
    border-radius: 1rem!important;
}

.box4{
    /*border: 1px solid black;*/
    width: 10vw;
    height: 8vh;
    margin-left: 68vh;
    margin-top: -8vh;
    border-radius: 1rem!important;
}

.box_tittle{
    border: 1px solid black;
    height: 30%;
}
.box_cont{
    border: 1px solid black;
    height: 70%;
    background-color: white; 
}

.box_container{
    margin-top: -2vh;
}

.rounded-top {
    border-top-left-radius: .75rem!important;
    border-top-right-radius: .75rem!important;
}

.rounded-bottom {
    border-bottom-right-radius: .75rem!important;
    border-bottom-left-radius: .75rem!important;
}