<!DOCTYPE html>
<html ng-app="CV" ng-controller="cofigCtrl">
<head>
	<meta charset="utf-8" http-equiv="Content-Type">
	<title>CV</title>
	<link rel="stylesheet" type="text/css" href="css/lib/bootstrap4/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/lib/bootstrap4/bootstrap.min1.css">
	<link rel="stylesheet" href="js/lib/Swiper/dist/css/swiper.min.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" href="bower_components/angular-ui-swiper/dist/angular-ui-swiper.css" />

	<!--<script type="text/javascript" src="js/lib/angularjs/angular.min.js"></script>-->
	<script type="text/javascript" src="bower_components/angular-ui-swiper/js/angular.min.js"></script>
	<script type="text/javascript" src="js/lib/angularjs/angular-md5.js"></script>
	<!--<script type="text/javascript" src="js/lib/angularjs/ui-bootstrap-tpls.min.js"></script>-->
	<!--<script src="bower_components/angular-ui-swiper/js/angular.js"></script>-->
	<script src="bower_components/angular-ui-swiper/dist/angular-ui-swiper.js"></script>
	<script src="bower_components/angular-ui-swiper/js/angular-animate.js"></script>
	<script src="js/lib/chroma.js-master/chroma.js"></script>


	<script type="text/javascript" src="js/app.js"></script>
</head>
<body ng-controller="servicioCtrl" style="background-image: url({{url+fondos[0]}}); background-size: 1920px 1330px;">
	<div class="ng-show" ng-show="true">
		<div class="cv-encabezado">
		
			<div class="row align-items-center">
				<div class="col-md-4"><div class="ct-fecha"  style="background-color:{{configNI.color_back}};">{{fecha | date:'dd/MM'}}</div></div>
				<div class="col-md-4">
					<div class="ct-encabezado" style="border: solid 10px {{configNI.color_back}};background-color:{{configNI.color_back}};">
						<div ng-show="configCV.tipo_encabezado == 'logo'" style="border-radius: 20px;background-image: url({{url+logo}}); background-size: 100% 100%;"></div>
						<div ng-show="configCV.tipo_encabezado == 'texto'" class="col-sm-12 pading text-center">{{configCV.texto_encabezado}}</div>
						
					</div>
				</div>
				<div class="col-md-4"><div class="ct-hora" style="background-color:{{configNI.color_back}};">{{hora}}</div></div>
			</div>
		</div>
		 
		<div style="margin-top: -25px;" ng-class="{'cv-servicios' : cvSrvicios ==true,'cv-servicios5' : cvSrvicios ==false	 }" class="cv-container align-items-center row" ng-controller="servicioCtrl" on-long-press="toggleModal2()" on-touch-end=""  >
			 <!--<button ng-click='toggleModal2()'>Open Modal Dialog 2</button><-->
			<modal-dialog show='modalShown2' 
						width='50' 
						height='50' 
						modal-user="user" 
						save-user="saveUser(user)"
						template-user="pages/my-customer2.html">
			</modal-dialog>
			<div class="col-md-12 ">
				<div ng-class="{'ct-servicio' : cvSrvicios  ==true,'ct-servicio5' : cvSrvicios  ==false	}" style="background-color: {{configNI.color_back}}B3;" class="row" ng-repeat="servicio in servicios | limitTo : 5" ng-style =" myStyle" >
					<div ng-class="{'ct-imagen' : ctImagen  ==true,'ct-imagen5' : ctImagen  ==false	 }" ng-style="{'background-image':'url({{servicio.imagen1}})'}">
					</div>
					<div ng-class="{'ct-imagen' : ctImagen  ==true,'ct-imagen5' : ctImagen  ==false	 }" ng-style="{'background-image':'url({{servicio.imagen2}})'}">
					</div>
						<div ng-switch="servicio.sala_id" ng-class="{'ct-info' : ctInfo  ==true,'ct-info5' : ctInfo  ==false	 }">
							<div class="test " style="padding-top: 20px;">{{servicio.nombres}} {{servicio.apellidos}}<br><h5><strong>{{servicio.religion.qepd}}</strong></h5>
							</div>
							<div ng-switch-when='-10' class="col-sm-12 row " >
								<div  class="col-sm-6  otro">
									<h4 style="border-radius: 20px; background-color: {{configNI.color_cont}}E6;"><strong>Domicilio</strong></h4>
									<h2>{{servicio.domicilio}}</h2>
								</div>
								<div class="col-sm-3  otro" >
									<h4 style="border-radius: 20px; background-color: {{configNI.color_cont}}E6;"><strong>Cementerio</strong></h4>	
									<h2>{{servicio.destino.nombre}}</h2>
								</div>
								<div class="col-sm-3  otro" >
									<h4 style="border-radius: 20px; background-color: {{configNI.color_cont}}E6;"><strong>Ingreso</strong></h4>	
									<h2>{{servicio.servicio_cementerio.substr(0,10)+'T'+servicio.servicio_cementerio.substr(11,10)  | date: 'dd/MM HH:mm' }}</h2>
								</div>
							</div>	
							<div ng-switch-default class="col-sm-12 row " style="margin-left: 0px; margin-top: -20px;">	
								<div  class="col-sm-3  otro" ng-switch="configCV.contenedor1">	
									<h4 style="border-radius: 20px; margin-bottom: 15px; background-color: {{configNI.color_cont}}E6;">
										<strong ng-if="configCV.contenedor1 == 'Responso/Misa'" >
											<strong ng-if="servicio.misa.tipo==0">Misa</strong>
											<strong ng-if="servicio.misa.tipo==1">Responso</strong>
										</strong>											
										
										<strong  ng-if="configCV.contenedor1 != 'Responso/Misa'">{{configCV.contenedor1}}</strong>
									</h4> 
									<h2 ng-switch-when="Velatorio">
										<div ng-class=" {'new' : sco_new==true, new1:sco_new==false} " ng-if="servicio.sala_id>'0' && servicio.sala_id!='99' && servicio.sala_id!='100' && configCV.contenedor1=='Velatorio'" ng-repeat="velatorio in servicio.velatorios" >								
											<h2 ng-if ="(velatorio.fecha | date: 'MM-dd') >= (fecha | date : 'MM-dd') && (velatorio.fecha | date: 'MM-dd') <= (fecha_new | date : 'MM-dd')">
											{{velatorio.fecha+'T'+velatorio.desde | date : 'dd/MM HH:mm' }} - {{velatorio.hasta.substring(0,5)}}
											</h2>
										</div>
									</h2>
									<h2 ng-switch-when="Salida">
										<h2 ng-if="servicio.confirmar !='1' && (configCV.contenedor1=='Salida' || configCV.contenedor1=='Sepelio')">
											{{servicio.salida.substr(0,10)+'T'+servicio.salida.substr(11,10) |date : 'dd/MM HH:mm'}}
										</h2>
										<h2 ng-if="servicio.confirmar =='1' && configCV.contenedor1=='Salida'">
											A confirmar
										</h2>
									</h2>
									<h2 ng-switch-when="Cementerio">{{servicio.destino.nombre}}</h2>
									<h2 ng-switch-when="Ingreso">{{servicio.servicio_cementerio.substr(0,10)+'T'+servicio.servicio_cementerio.substr(11,10)  | date: 'dd/MM HH:mm' }}</h2>
									<h2 ng-switch-when="Sala">
										<h2 ng-if="servicio.sala_id>'0' && servicio.sala_id!='99' && servicio.sala_id!='100' && configCV.contenedor1=='Sala' ">
											{{servicio.sala.nombre}}
										</h2>
										<h2 ng-if="servicio.sala_id =='99' && configCV.contenedor1=='Sala' ">
											En privado
										</h2>
										<h2 ng-if="servicio.sala_id =='100' && configCV.contenedor1=='Sala' ">
											A confirmar
										</h2>
										<h2 ng-if="servicio.sala_id =='0' || servicio.sala_id =='-10' && configCV.contenedor1=='Sala' ">
											
										</h2>
									</h2>
									<h2 ng-switch-when="Empresa">{{servicio.empresa.nombre}}</h2>	
									<h2 ng-switch-when="Responso/Misa">{{servicio.responso.substr(0,10)+'T'+servicio.responso.substr(11,10)  | date: 'dd/MM HH:mm' }}</h2>											
								</div>					
								<div class="col-sm-3  otro" ng-switch="configCV.contenedor2">	
									<h4 style="border-radius: 20px; margin-bottom: 15px; background-color: {{configNI.color_cont}}E6;">
										<strong ng-if="configCV.contenedor2 == 'Responso/Misa'" >
											<strong ng-if="servicio.misa.tipo==0">Misa</strong>
											<strong ng-if="servicio.misa.tipo==1">Responso</strong>
										</strong>
																					
										<strong  ng-if="configCV.contenedor2 != 'Responso/Misa'">{{configCV.contenedor2}}</strong>
									</h4> 
									<h2 ng-switch-when="Velatorio">
										<div ng-class=" {'new' : sco_new==true, new1:sco_new==false} " ng-if="servicio.sala_id>'0' && servicio.sala_id!='99' && servicio.sala_id!='100' && configCV.contenedor2=='Velatorio'" ng-repeat="velatorio in servicio.velatorios" >								
											<h2 ng-if ="(velatorio.fecha | date: 'MM-dd') >= (fecha | date : 'MM-dd') && (velatorio.fecha | date: 'MM-dd') <= (fecha_new | date : 'MM-dd')">
											{{velatorio.fecha+'T'+velatorio.desde | date : 'dd/MM HH:mm' }} - {{velatorio.hasta.substring(0,5)}}
											</h2>
										</div>
									</h2>
									<h2 ng-switch-when="Salida">
										<h2 ng-if="servicio.confirmar !='1' && (configCV.contenedor2=='Salida' || configCV.contenedor2=='Sepelio')">
											{{servicio.salida.substr(0,10)+'T'+servicio.salida.substr(11,10) |date : 'dd/MM HH:mm'}}
										</h2>
										<h2 ng-if="servicio.confirmar =='1' && (configCV.contenedor2=='Salida' || configCV.contenedor2=='Sepelio')">
											A confirmar
										</h2>
									</h2>
									<h2 ng-switch-when="Cementerio">{{servicio.destino.nombre}}</h2>
									<h2 ng-switch-when="Ingreso">{{servicio.servicio_cementerio.substr(0,10)+'T'+servicio.servicio_cementerio.substr(11,10)  | date: 'dd/MM HH:mm' }}</h2>
									<h2 ng-switch-when="Sala">
										<h2 ng-if="servicio.sala_id>'0' && servicio.sala_id!='99' && servicio.sala_id!='100' && configCV.contenedor2=='Sala' ">
											{{servicio.sala.nombre}}
										</h2>
										<h2 ng-if="servicio.sala_id =='99' && configCV.contenedor2=='Sala' ">
											En privado
										</h2>
										<h2 ng-if="servicio.sala_id =='100' && configCV.contenedor2=='Sala' ">
											A confirmar
										</h2>
										<h2 ng-if="servicio.sala_id =='0' || servicio.sala_id =='-10' && configCV.contenedor2=='Sala' ">
											
										</h2>
									</h2>
									<h2 ng-switch-when="Empresa">{{servicio.empresa.nombre}}</h2>	
									<h2 ng-switch-when="Responso/Misa">{{servicio.responso.substr(0,10)+'T'+servicio.responso.substr(11,10)  | date: 'dd/MM HH:mm' }}</h2>											
								</div>
								<div class="col-sm-3  otro" ng-switch="configCV.contenedor3">	
									<h4 style="border-radius: 20px; margin-bottom: 15px; background-color: {{configNI.color_cont}}E6;">
										<strong ng-if="configCV.contenedor3 == 'Responso/Misa'" >
											<strong ng-if="servicio.misa.tipo==0">Misa</strong>
											<strong ng-if="servicio.misa.tipo==1">Responso</strong>
										</strong>
																					
										<strong  ng-if="configCV.contenedor3 != 'Responso/Misa'">{{configCV.contenedor3}}</strong>
									</h4> 
									<h2 ng-switch-when="Velatorio">
										<div ng-class=" {'new' : sco_new==true, new1:sco_new==false} " ng-if="servicio.sala_id>'0' && servicio.sala_id!='99' && servicio.sala_id!='100' && configCV.contenedor3=='Velatorio'" ng-repeat="velatorio in servicio.velatorios" >								
											<h2 ng-if ="(velatorio.fecha | date: 'MM-dd') >= (fecha | date : 'MM-dd') && (velatorio.fecha | date: 'MM-dd') <= (fecha_new | date : 'MM-dd')">
											{{velatorio.fecha+'T'+velatorio.desde | date : 'dd/MM HH:mm' }} - {{velatorio.hasta.substring(0,5)}}
											</h2>
										</div>
									</h2>
									<h2 ng-switch-when="Salida">
										<h2 ng-if="servicio.confirmar !='1' && (configCV.contenedor3=='Salida' || configCV.contenedor3=='Sepelio')">
											{{servicio.salida.substr(0,10)+'T'+servicio.salida.substr(11,10) |date : 'dd/MM HH:mm'}}
										</h2>
										<h2 ng-if="servicio.confirmar =='1' && configCV.contenedor3=='Salida'">
											A confirmar
										</h2>
									</h2>
									<h2 ng-switch-when="Cementerio">{{servicio.destino.nombre}}</h2>
									<h2 ng-switch-when="Ingreso">{{servicio.servicio_cementerio.substr(0,10)+'T'+servicio.servicio_cementerio.substr(11,10)  | date: 'dd/MM HH:mm' }}</h2>
									<h2 ng-switch-when="Sala">
										<h2 ng-if="servicio.sala_id>'0' && servicio.sala_id!='99' && servicio.sala_id!='100' && configCV.contenedor3=='Sala' ">
											{{servicio.sala.nombre}}
										</h2>
										<h2 ng-if="servicio.sala_id =='99' && configCV.contenedor3=='Sala' ">
											En privado
										</h2>
										<h2 ng-if="servicio.sala_id =='100' && configCV.contenedor3=='Sala' ">
											A confirmar
										</h2>
										<h2 ng-if="servicio.sala_id =='0' || servicio.sala_id =='-10' && configCV.contenedor3=='Sala' ">
											
										</h2>
									</h2>
									<h2 ng-switch-when="Empresa">{{servicio.empresa.nombre}}</h2>
									<h2 ng-switch-when="Responso/Misa">{{servicio.responso.substr(0,10)+'T'+servicio.responso.substr(11,10)  | date: 'dd/MM HH:mm' }}</h2>
								</div>
								<div class="col-sm-3  otro" ng-switch="configCV.contenedor4">	
									<h4 style="border-radius: 20px; margin-bottom: 15px; background-color: {{configNI.color_cont}}E6;">
										<strong ng-if="configCV.contenedor4 == 'Responso/Misa'" >
											<strong ng-if="servicio.misa.tipo==0">Misa</strong>
											<strong ng-if="servicio.misa.tipo==1">Responso</strong>
										</strong>
																					
										<strong  ng-if="configCV.contenedor4 != 'Responso/Misa'">{{configCV.contenedor4}}</strong>
									</h4> 
									<h2 ng-switch-when="Velatorio">
										<div ng-class=" {'new' : sco_new==true, new1:sco_new==false} " ng-if="servicio.sala_id>'0' && servicio.sala_id!='99' && servicio.sala_id!='100' && configCV.contenedor4=='Velatorio'" ng-repeat="velatorio in servicio.velatorios" >								
											<h2 ng-if ="(velatorio.fecha | date: 'MM-dd') >= (fecha | date : 'MM-dd') && (velatorio.fecha | date: 'MM-dd') <= (fecha_new | date : 'MM-dd')">
											{{velatorio.fecha+'T'+velatorio.desde | date : 'dd/MM HH:mm' }} - {{velatorio.hasta.substring(0,5)}}
											</h2>
										</div>
									</h2>
									<h2 ng-switch-when="Salida">
										<h2 ng-if="servicio.confirmar !='1' && (configCV.contenedor1=='Salida' || configCV.contenedor4=='Sepelio')">
											{{servicio.salida.substr(0,10)+'T'+servicio.salida.substr(11,10) |date : 'dd/MM HH:mm'}}
										</h2>
										<h2 ng-if="servicio.confirmar =='1' && configCV.contenedor1=='Salida'">
											A confirmar
										</h2>
									</h2>
									<h2 ng-switch-when="Cementerio">{{servicio.destino.nombre}}</h2>
									<h2 ng-switch-when="Ingreso">{servicio.servicio_cementerio.substr(0,10)+'T'+servicio.servicio_cementerio.substr(11,10)  | date: 'dd/MM HH:mm' }</h2>
									<h2 ng-switch-when="Sala">
										<h2 ng-if="servicio.sala_id>'0' && servicio.sala_id!='99' && servicio.sala_id!='100' && configCV.contenedor4=='Sala' ">
											{{servicio.sala.nombre}}
										</h2>
										<h2 ng-if="servicio.sala_id =='99' && configCV.contenedor4=='Sala' ">
											En privado
										</h2>
										<h2 ng-if="servicio.sala_id =='100' && configCV.contenedor4=='Sala' ">
											A confirmar
										</h2>
										<h2 ng-if="servicio.sala_id =='0' || servicio.sala_id =='-10' && configCV.contenedor4=='Sala' ">
											
										</h2>
									</h2>
									<h2 ng-switch-when="Empresa">{{servicio.empresa.nombre}}</h2>
									<h2 ng-switch-when="Responso/Misa">{{servicio.responso.substr(0,10)+'T'+servicio.responso.substr(11,10)  | date: 'dd/MM HH:mm' }}</h2>
								</div>
							</div>
						</div>

					
					<div ng-class="{'ct-imagen' : ctImagen  ==true,'ct-imagen5' : ctImagen  ==false}" ng-style="{'background-image':'url({{servicio.imagen3}})'}">
					</div>
					<div ng-class="{'ct-imagen' : ctImagen  ==true,'ct-imagen5' : ctImagen  ==false}" ng-style="{'background-image':'url({{servicio.imagen4}})'}">
					</div>
				</div>
			</div>
			<!-- <div ng-controller="CarouselDemoCtrl" id="slides_control" ng-style="hidecarr" >
				<carousel interval="myInterval" no-pause="true">
					<slide ng-repeat="slide in slides">                    
							<div   class="xcard">
								<div style="background-image: url({{url}}{{ slide }})">

								</div>
							   
							</div>
					</slide>
				</carousel>
			</div>-->
			<!--style="background-image: url({{url}}{{ slide }})"-->
			<div ng-controller="CarouselDemoCtrl"  ng-style="hidecarr" >
				<div style="margin-top: 20px;" class="xcard" >
					<swiper swiper="swiper" on-init="onInit" effect="fade" >	
						<slides>
							<slide ng-repeat="slide in slides">                    
									
								<!-- <div style="background-image: url({{url}}{{ slide }})"> -->
								<div style="background-color:{{configNI.color_back}};padding: 20px;">
									<img src="{{url}}{{ slide }}" width="100%" height="100%" style="border-radius: 20px;" alt="">
								</div>
									   
								  
							</slide>
						</slides>
					</swiper>
				  </div>
			</div>
		</div>
		<div style="position: absolute; bottom: 0px; border-radius: 20px;" ng-controller="servicioCtrl" ng-class="{'cv-pie' : cvpie == true, 'cv-pie4' : cvpie==false,'cv-pie2' : cvpie2==true,'cv-pie1' : cvpie1==true}" ng-style="hidebaner2">
			<div class="row">
				<div class="col-md-12">		
					
					<div ng-class="{'ct-banner' : ctbanner == true, 'ct-banner4' : ctbanner==false} " ng-style="hidebaner" style="background-color:{{configNI.color_back}};">
						
						<swiper swiper="swiper" on-init="onInit" effect="fade" style="border-radius: 20px;">	
							<slides>	
								<slide  ng-repeat="slidebaner in slidebaners">
									<div style="background-image: url({{url}}{{ slidebaner }})">
									</div>
								</slide>
							</slides>	
							
						</swiper>
					   
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="ng-show" ng-show="license_alert"
			style="
				color: white;
				background-color: black;
				width: 1920px;
				height: 1080px;
				filter: opacity(85%);
				position: absolute;
				top: 0;
				left: 0;
				padding: 50px;
			" >
		<h1 style="margin-top: 450px; margin-left: 500px ">{{ license_message }}</h1>
	</div>
</body>
</html>
