<div class='ng-modal' ng-if='show'>
  <div class='ng-modal-overlay2'></div>
  <div class='ng-modal-dialog' ng-if='show' ng-style='dialogStyle'>
    <!--<div class='ng-modal-close' ng-click='hideModal()'>X</div>-->

    <div class='ng-modal-dialog-content'>
      <h2>Inicia sesión</h2>
      
      <h2>{{modalUser.shortKey}}</h2>
      <br>
      <input type="password" name="password" class="form-group" placeholder="Ingresar contraseña" ng-model="modalUser.name"  ng-value="modalUser.name" id="password">
      <br>
      <button ng-click=save() class="btn btn-primary" ><h4>Ingresar</h4></button>

      <button ng-click=cancel() class="btn btn-danger" ><h4>Cancelar</h4></button>
    </div>
 
  </div>